/* Colors */
$bg_color:#928374;

$random_thought_color:#282828;

$link_color:#282828;
$link_hl_color:#d5c4a1;
$link_color_bright:#9d0006;
$link_hl_color_bright:#af3a03;

$navbar_bg:#af3a03;
$navbar_border:#d65d0e;
$navbar_active:#d65d0e;
$navbar_text_color:#fbf1c7;

$pane_heading_color:#928374;
$pane_content_color:#d5c4a1;
$pane_border_color:#7c6f64;
$pane_blockquote_color:#fbf1c7;

$thumbnail_bg_color:#928374;
$thumbnail_border_color:#928374;

$post_title_color:#3c3836;
$post_title_hl_color:#504945;
$post_meta_color:#3c3836;
$post_text_color:#282828;

$hX_color:#fbf1c7;
$hX_color_bright:#d5c4a1;

$footer_bg:#af3a03;
$footer_border_color:#d65d0e;
$footer_text_color:#fbf1c7;

$pager_bg_color:#af3a03;
$pager_bg_hl_color:#d65d0e;
$pager_text_color:#282828;
$pager_border_color:#af3a03;

/*Fonts*/
$georgia_font:Georgia, "Times New Roman", Times, serif;
$helvetica_font:"Helvetica Neue", Helvetica, Arial, sans-serif;
$trebuchet_font:"Trebuchet MS", Helvetica, Arial, sans-serif;
$lucida_font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
$tahoma_font:Tahoma, "Geneva", sans-serif;

/*
 * Globals
 */
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #555;
    background-color:$bg_color;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: $helvetica_font;
    font-weight: normal;
    color: $hX_color_bright;
}

a {
    color:$link_color;
}

a:hover {
    color:$link_hl_color;
    text-decoration:none;
}

.archive-list {
    li, a {
        color:$link_color;
        margin-left:10px;
    }
    
    a {
        border-bottom:1px dashed $link_color_bright;
    }
    
    a:hover {
        border-bottom:1px dashed $link_hl_color_bright;
    }
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}


/*
 * Masthead for nav
 */

.blog-masthead {
}

nav {
    height: 30px;
}
.navbar-default {
    border:0px;
}

/* Nav */
.navbar {
    background-color:$navbar_bg;
    min-height:30px !important;

    .nav li {
        font-family:$helvetica_font; 

        a {
            color:$navbar_text_color;
            text-decoration:none;
        }
    }
}

.navbar-default .navbar-nav  {

    li > a {
        padding-top:5px !important; 
        padding-bottom:5px !important;
    }

    .active > a:hover
    {
        background-color: $navbar_active;
        text-decoration:none;
    }
    .active > a
    {
        background-color: $navbar_active;
        text-decoration:none;
        color:$navbar_text_color;
    }
}

/*
 * Blog Header
 */

.blog-header {
    padding-left:18px;
    padding-top:9px;
    padding-bottom:6px;
}

.logo {
    padding:5px;
}
.random-thought {
    color:$random_thought_color;
    font-size:10px;
    font-style:italic;
    font-weight:bold;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding:0px 15px 15px 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}
/* Archive Side-bar*/
.sidebar-archive {
    h4 {
        color:black;
        margin:0px;
        font-size:14px;
    }
    a:hover {
        color:$link_hl_color_bright;
    }
}

/*
 * Blog posts
 */

.panel-default {
    background-color:$pane_content_color !important;
    border-color:$pane_border_color !important;
}

.panel-heading {
    border-color:$pane_border_color !important;
    background-color:$pane_heading_color !important;
}

.panel-body {
    text-align:justify;
    color:$post_text_color !important;
    letter-spacing:-1px;
    font-family:$tahoma_font;

    a {
        text-decoration:underline;
    }
    a:hover {
        color:$link_hl_color_bright;
    }
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        color:$post_text_color;
    }

    blockquote {
        background-color:$pane_blockquote_color;
        font-family:$trebuchet_font;
        font-style:italic;
    }
}

.panel-footer {
    background-color:$pane_heading_color !important;
    border-color:$pane_border_color !important;
    font-size:10px;

    .fb-like {
        padding-left:9px;
        padding-right:9px;
    }

    .twit-share {
        padding-left:9px;
        padding-top:9px;
        padding-right:9px;
    }
}

.post {
    margin-bottom: 20px;

    a {
        color:$post_title_color;
    }
    a:hover {
        color:$link_hl_color;
    }
    .meta {
        color:$post_meta_color;
        font-size:11px;
        padding-bottom:10px;
    }

    .panel-heading {
        padding-bottom:0px;
    }
}

.thumbnail {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-color:$thumbnail_bg_color;
  border: 0px solid $thumbnail_border_color;
  margin: 0 auto; /* auto-center image */

  img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
  }

  img.portrait {
      width: 100%;
      height: auto;
  }

  .thumb_title {
      color:$hX_color;
      text-align:center;
  }
}

.pager {
    a.previous, a.next {
        color:$pager_text_color;
        border: 1px solid $pager_border_color;
        background-color:$pager_bg_color;
        font-size:10px;
    }

    a.previous:hover, a.next:hover {
        color:$pager_text_color;
        background-color:$pager_bg_hl_color;
    }
}
.meta {
    margin-bottom: 0px;
}
.weight_bold {
    font-weight:bold;
}
.label {
    margin-left:2px;
    margin-right:2px;
    a {
        color:white;
    }
}

/*
 * About
 */
.panel-about {
    h3 {
        color:$hX_color;
    }
}


/*
 * Footer
 */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: $footer_bg;
    border-top: 1px solid $footer_border_color;
    padding: 20px 0;

    .text-muted {
        color:$footer_text_color;
        font-family:$trebuchet_font;
        font-size:10px;
    }
}
