{% extends "base.html" %}
{% load django_markdown %}

<!-- Overwriting content_grid from base.html to make this section fullscreen. -->
{% block content_grid %}
<div class="col-sm-12 blog-main">
{% endblock %}

{% block blog_entries %}
<div class="panel panel-default panel-about">
    <div class="panel-body">
        {{ about_content.body|markdown }}
    </div>

</div>
{% endblock %}
