{% extends "base.html" %}

{% block blog_archive %}
<ol class="archive-list list-unstyled">
    {% for entry_archive in entry_archive_list %}
    {% for year_key, entries_by_months in entry_archive.items %}
    <li>
        <h2>{{ year_key }}</h2>
        <ol class="list-unstyled">
            {% for month_key, entries_in_month in entries_by_months.items %}
            {% if entries_in_month %}
            <li>
                <h3>{{ entries_in_month.0.created|date:"F" }}({{entries_in_month|length}})</h3>
                <ol class="list-unstyled">
                    {% for entry in entries_in_month %}
                    <li>
                        <a href="{% url "entry_detail" slug=entry.slug %}">{{ entry.title }}</a>
                        - {{ entry.created|date:"jS f a" }}
                    </li>
                    {% endfor %}
                </ol>
            </li>
            {% endif %}
            {% endfor %}
        </ol>
    </li>
    {% endfor %}

    {% endfor %}
</ol>
{% endblock %}

{% block blog_archive_sidebar %}
{% include "archive_sidebar.html" %}
{% endblock %}
