<div class="sidebar-archive panel panel-default ">

<div class="panel-heading">
<h4>Archives</h4>
</div>
<div class="panel-body">
<ol class="list-unstyled">
    {% for entry_archive in entry_archive_list %}
    {% for year_key, entries_by_months in entry_archive.items %}
    <li class="weight_bold">
        <a href="{% url "archive" year=year_key %}">{{ year_key }}</a>
    </li>

    <ol class="list-unstyled">
        {% for month_key, entries_in_month in entries_by_months.items %}
        {% if entries_in_month %}
        <li>
            <a href="{% url "archive" year=year_key month=entries_in_month.0.created|date:'m' %}">
                {{ entries_in_month.0.created|date:"F" }}
            </a> ({{ entries_in_month|length }})
        </li>
        {% endif %}
        {% endfor %}
    </ol>
    {% endfor %}
    {% endfor %}
</ol>
</div>
</div>
