{% extends "base.html" %}
{% block blog_archive %}

<h2>{{ year }}</h2>
<h3>{{ month }}({{entries_inyearmonth|length}})</h3>
<ol class="archive-list list-unstyled">
    {% for entry in entries_inyearmonth %}
    <li>
        <a href="{% url "entry_detail" slug=entry.slug %}">{{ entry.title }}</a>
        - {{ entry.created|date:"jS f a" }}
    </li>
    {% endfor %}
</ol> 

{% endblock %}

{% block blog_archive_sidebar %}
{% include "archive_sidebar.html" %}
{% endblock %}
