{% extends "base.html" %}
{% block blog_archive %}

<h2>{{ year }}</h2>
<ol class="list-unstyled">
    {% for month, entry_list in entries_by_months.items %}
    <li><h3>{{ entry_list.0.created|date:"F" }}({{entry_list|length}})</h3></li>
    <ol class="archive-list list-unstyled">
        {% for entry in entry_list %}
        <li>
            <a href="{% url "entry_detail" slug=entry.slug %}">{{ entry.title }}</a>
            - {{ entry.created|date:"jS f a" }}
        </li>
        {% endfor %}
    </ol>
    {% endfor %}
</ol> 
{% endblock %}

{% block blog_archive_sidebar %}
{% include "archive_sidebar.html" %}
{% endblock %}
