{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The blog that makes you question what you know.">
        <meta name="author" content="Patrick Zielinski">
        <link rel="icon" href="{% static "blog/icons/favicon.ico" %}">
        <link href="/feed/" rel="alternate" type="application/rss+xml" title="My Blog Feed" />
        <title>Coaltober - Blog</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static "blog/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        {% compress css %}
        <link href="{% static "blog/css/blog.scss" %}" rel="stylesheet" type="text/x-scss">
        {% endcompress %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>

    <body>
    <!--
        Facebook SDK JS
    -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!--
        Facebook SDK JS END
    -->

        <div class="blog-masthead">
            <div class="blog-header">
                <img class="logo" src="{% static "blog/images/coaltober_logo.png" %}" alt="Coaltober_logo"/>
                <span class="random-thought">"{{random_thought}}"</span>
            </div>

            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li {% if page_name == "home" %} class="active" {% endif %}>
                                <a href="{% url "index" %}">Home</a>
                            </li>
                            <li {% if page_name == "archive" %} class="active" {% endif %}>
                                <a href="{% url "archive" %}">Archive</a>
                            </li>
                            <li {% if page_name == "about" %} class="active" {% endif %}>
                                <a href="{% url "about" %}">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">

                <div class="row">

                    {% block content_grid %}
                    <div class="col-sm-8 blog-main">
                    {% endblock %}

                    {% block blog_entries %} {% endblock %}
                    {% block blog_archive %} {% endblock %}
                    {% block blog_adsense %} {% endblock %}

                    </div><!-- /.blog-main -->

                    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                        <div class="sidebar-module">

                            {% block blog_archive_sidebar %} {% endblock %}
                        </div>
                    </div><!-- /.blog-sidebar -->

                </div><!-- /.row -->
            </div><!-- /.container -->

            <footer class="footer">
                <div class="container">
                    <p class="text-muted">
                    Copyright © {% now "Y" %} Coaltober 
                    | 
                    <a href="{% url "specs" %}">Specs</a>
                    | Inquiries? 
                    <a href="mailto:someone@example.com?Subject=Coaltober%20Inquiry" target="_top">Send Mail</a>
                    </p>
                </div>
            </footer>


            <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {% compress js %}
                <script src="{% static "blog/js/bootstrap.min.js" %}"></script>
                <script src="{% static "blog/js/docs.min.js" %}"></script>

                <!-- Custom Javascript
                    ================================================== -->
                    <script src="{%static "blog/js/blog.js" %}"></script> 
        {% endcompress %}
    </body>
</html>
