{% extends "base.html" %}

{% block blog_entries %}

<h2>Posts tagged under '{{slug}}' : </h2>

<div class="container">
    <div class="row">
        {% for entry in entry_list %}
        <div class="col-sm-3">
            <div class="panel panel-default panel-heading post">
                <h4><a href="{% url "entry_detail" slug=entry.slug %}">{{ entry.title }}</a></h4>
                <p class="meta">{{ entry.created }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

