{% extends "base.html" %}
{% load django_markdown %}

<!-- Overwriting content_grid from base.html to make this section fullscreen. -->
{% block content_grid %}
<div class="col-sm-6 blog-main">
{% endblock %}

{% block blog_entries %}
<h2>Latest entries</h2>
{% for entry in entry_list %}
<div class="panel panel-default post">
    <div class="panel-heading">
        <div class="row ">
            <div class="col-xs-6">
        <h4><a href="{% url "entry_detail" slug=entry.slug %}">{{ entry.title }}</a></h4>
            </div>
            <div class="col-xs-4">
        <p class="meta">{{ entry.created }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if is_paginated %}
<ul class="pager">
    <li {% if not page_obj.has_previous %}class="disabled"{% endif %}>
        
        <a class="previous" {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>
            <span aria-hidden="true">&larr;</span>
            Prev
        </a>
    </li>
    <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
        <a class="next" {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>
           <span aria-hidden="true">&rarr;</span>
           Next
        </a>
    </li>

</ul>
{% endif %}

{% endblock %}

{% block blog_adsense %}
{% include "adsense.html" %}
{% endblock %}

{% block blog_archive_sidebar %}
{% include "archive_sidebar.html" %}
{% endblock %}
