{% extends "base.html" %}
{% load django_markdown %}

<!-- Overwriting content_grid from base.html to make this section fullscreen. -->
{% block content_grid %}
<div class="col-sm-12 blog-main">
{% endblock %}

    {% block blog_entries %}
    <div class="panel panel-default post">
        <div class="panel-heading">
            <h4><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a></h4>
            <p class="meta">
                {{ object.created }} 
                {% for tag in object.tags.all %}
                    <span class="label label-default">
                        <a href="{% url "tag" slug=tag %}">{{ tag }}</a>
                    </span>
                {% endfor %}
            </p>

        </div>
        <div class="panel-body">
            {{ object.body_html|markdown }}
        </div>

        <div class="panel-footer">
            <div class="fb-like" data-href="{% url "entry_detail" slug=object.slug %}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

            <div class="twit-share">
<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="coaltober">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
    </div>
    {% endblock %}
